---
import NavBar from "@components/NavBar.astro";
import Projects from "@components/Projects.astro";
import Socials from "@components/Socials.astro";
import { Image } from "astro:assets";
import { Debug } from "astro/components";
import type Link from "@interfaces/Link";
import "../css/main.scss";
import blackCatWalking from "../assets/black_cat_walking_and_sleeping_like_my_child.gif";
const points: Link[] = [
	{ displayName: "Home", location: "#" },
	{ displayName: "Projects", location: "#projects-sec" },
	{ displayName: "Socials", location: "#socials-sec" },
];
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<script
			src="https://kit.fontawesome.com/91e746a27a.js"
			crossorigin="anonymous"></script>
		<title>Burak Taner</title>
		<script
			src="https://kit.fontawesome.com/91e746a27a.js"
			crossorigin="anonymous"></script>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	</head>
	<body>
		<header id="body-header">
			<NavBar points={points} />
		</header>
		<main>
			<h1>Who am I?</h1>
			<a
				href="https://tenor.com/view/cat-cute-animation-cartoon-hi-gif-16995078"
				target="_blank"
				class="cat-link"
				><Image
					src="https://media.tenor.com/aFrLlewBz4IAAAAi/cat-cute.gif"
					alt="An orange cat is waving at you"
					width={100}
					height={100}
					class="cat-gif"
				/>
			</a>
			<section id="who-am-i-sec" class="who-am-i-sec">
				<p>
					Oi, my name is Ertan. I am a junior developer who currently work with
					C# and JavaScript/Typescript for development. I am mostly focused on
					web right now but ı have ideas about systems, ai and other part of the
					software development. In web, ı am a backend developer but as a modern
					web developer, ı learned about frontend.
				</p>
				<br />
				<p>
					I went to a software expertise course; finished some online courses
					but ı am still learning myself through other developers and sourceses
					on internet. I love open source, ı think if there is not private
					information the code; every codebase should be a open source project.
					Community makes everything better, we are building our cities
					together, why not our applications?
				</p>
				<br />
				<p>
					I also love animals so much, they are very important for me and equals
					important to me as like a human. I hope ı can help as much as ı can to
					make world better for them.
				</p>
				<br />
				<p>
					That's me. If you want to get to know about me more, <a
						href="#socials-sec"
						class="contact-me">contact</a
					> with me!
				</p>
			</section>
			<section id="projects-sec" class="projects-sec">
				<a
					href="https://www.artstation.com/artwork/X1vP1l"
					target="_blank"
					class="cat-link"
					><Image
						src={blackCatWalking}
						alt="Black cat walking and after that sleeping"
						width={150}
						height={150}
						class="cat-gif"
					/></a
				>
				<h2>Projects</h2>
				<Projects />
			</section>
			<section id="socials-sec" class="socials-sec">
				<a
					href="https://displate.com/displate/6246939?pe=animals,cartoons,funny&ctrc=US"
					target="_blank"
					class="cat-link"
				>
					<Image
						src="https://static.displate.com/280x392/displate/2023-02-16/6886ecb9c9db33a18ba733ce1a70ea1d_4311f16896243395f85313493949aec6.jpg"
						alt="a gray cat looking like a character from pathetic meme"
						width={150}
						height={150}
						class="cat-gif"
					/>
				</a>
				<Socials />
			</section>
		</main>
	</body>
</html>
<script>
	import "@ts/minizeMenu.ts";
	import "@ts/changeActiveStatus.ts"
</script>
