---
import type Link from "@interfaces/Link";
interface Props {
  points: Link[];
}
const { points } = Astro.props;
---

<nav id="navbar">
  <i class="fa-solid fa-bars" id="hamburger-bars"></i>
  <ul id="nav-list" class="nav-list">
    {
      points.map((e, i) => {
        return (
          <li class={`nav-link ${i === 0 ? "active" : ""}`}>
            <a href={e.location}>{e.displayName}</a>
          </li>
        );
      })
    }
  </ul>
</nav>
