$background-clr: #B5B5B5;
$link-color: white;
$hover-color: #3A267D;
$head-color: #D58136;
$nav-bg: black;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

html {
    height: 100%;
}

body {
    background-color: $background-clr;
    min-height: 100%;
    font-size:22.5px;
    font-family:monospace;
    animation: 2s ease-in-out 1 nothingtofull; 
}

h2 {
    text-align: center;
    margin-bottom: 50px;
}

#hamburger-bars {
    display: none;
}

.cat-gif {
    display: block;
    width: 100%;
    max-width: 140px;
    margin: auto;
    height: auto;
}


// Nav
header {
    width:100%;
}

h1 {
    text-align: center;
    padding-top: 60px;
    color: $head-color;
    margin-bottom:25px;
}

nav {
    position:fixed;
    width: 100%;
    background: $nav-bg;

    .nav-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap:15%;
        list-style: none;
        
        .nav-link {
            padding: 5px;
            white-space: nowrap;

            &:hover {
                background: gray;
            }
        }

        a {
            text-decoration: none;
            color: $link-color;
            
            &:hover {
                text-shadow: $hover-color 0 0;
                text-decoration: underline;
                opacity:0.7;
            }
        }

        .active {
            background: rgba(222,222,222, 0.4);
        }
    }
}
//

// Who i am sec
.who-am-i-sec {
    text-align: center;
}

//Projects

.projects-sec{
    margin: 30px 30px auto 80px;

    ol {
        list-style: none;
        display:grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 80px;

        span {
            display: block;
            margin-top: 10px;
            font-size: 1rem;
        }
    }
}

// Socials
$social-colors: (1: "#1D9BF0", 2: "#E98864", 3: "black");
.socials-sec {
    margin: 50px 30px auto 80px;
    
    .cat-gif {
        margin-bottom:50px;
    }

    ol {
        display: flex;
        list-style: none;
        flex-direction: row;
        justify-content:space-around;

        @each $num, $color in $social-colors {
            & li i#social-icon-#{$num}{
                color: #{$color};
            }
        }

        .social-title {
            display:inline-block;
            font-size: 15px;
        }

        li {
            display:flex;
            flex-direction: row-reverse;
            gap: 10px;
        }
    }
}

@keyframes nothingtofull {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 780px) {
   .projects-sec {
       ol {
           align-content: center;
           justify-items: center;
       }
   } 
}

@media only screen and (max-width:800px) {
   
    h1 {
        padding-top: 200px;
    }

    nav {
        .nav-list {
            flex-direction: column;
            gap:15px;
            text-align: center;
        }
    }

    .projects-sec { 
        ol {
            display: flex;
            flex-direction: column;
        }

        }

    .socials-sec {
        ol {
        justify-content: space-between;
        }
    }
    
    #hamburger-bars {
        display: block;
        position: fixed;
        left: 90vw;
        bottom: 95.5vh;
        color: whitesmoke;

        &:hover {
            cursor: pointer;
        }
    }
}

